<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-2">
    <div class="panel panel-primary center">
      <div class="panel-heading"><h1><%= t :profile_title %></h1></div>
      <div class="panel-body">
        <%= link_to avatar_for(current_user), current_user %>
        <h1 class="my-username"><%= link_to @user.name, @user %></h1>
      </div>
    </div>
  </aside>
  <aside class="col-md-1"></aside>
  <aside class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="center"><%= t :history %></h1>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </aside>
</div>
