<footer class="myfooter">
  <div class="footer-col">
    <%= link_to image_tag("logo_framgia.png", class: "footer-logo-size"),
      root_path %>
  </div>
  <div class="footer-col">
    <p><%= t :address %></p>
  </div>
  <div class="footer-col">
    <p class="my-margin-right"><%= t :mobilephone %></p>
  </div>
</footer>
